/* Debug */

.debug
{
  *
  {
    border: 1px dashed red;
  }

  [class^="col"]
  {
    border: 1px dashed #000;
  }



  #hero,
  #partners,
  #operations
  {
    [class^="col"]
    {
      min-height: 300px;
    }
  }

  #plans
  {
    padding: 3rem 0;

    .col-4
    {
      min-height: 500px;
    }

    .col-12
    {
      min-height: 300px;
    }


  }



}



/* Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
  scroll-behavior: smooth;
  font-family: sans-serif;
  background-color: #ededed;
  min-width: 1480px;
}

img
{
  max-width: 100%;
  vertical-align: middle;
}

/*Layout*/
.container
{
  width: 80%;
  max-width: 1200px;
  margin: auto
}

.container-sm
{
  width: 70%;
  max-width: 1024px;
  margin: auto
}


.row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem
}


[class^="col"]
{
  padding: 1rem;
}


.col
{
  width: auto;
  flex-basis: auto;
  flex-grow: 1;
}

.col-1
{
  width: calc(100% / 12 * 1);
}

.col-2
{
  width: calc(100% / 12 * 2);
}

.col-3
{
  width: calc(100% / 12 * 3);
}

.col-4
{
  width: calc(100% / 12 * 4);
}

.col-5
{
  width: calc(100% / 12 * 5);
}

.col-6
{
  width: 50%;
}

.col-7
{
  width: calc(100% / 12 * 7);
}

.col-8
{
  width: calc(100% / 12 * 8);
}

.col-9
{
  width: calc(100% / 12 * 9);
}

.col-10
{
  width: calc(100% / 12 * 10);
}

.col-11
{
  width: calc(100% / 12 * 11);
}

.col-12
{
  width: 100%;
}

/*buttons*/
.btn
{
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}

.btn-primary
{
  background-color: rgb(68, 68, 255);
  color: white;

  &:hover
  {
    background-color: rgb(116, 116, 255);
    color: white;
  }


}



/* #region header */
#app_header
{
  background-color: white;
  padding: 0 1rem;

  nav
  {
    display: flex;
    justify-content: space-between;

    .left,
    .right
    {
      display: flex;
      align-items: center;

    }


    .list-unstyled
    {
      list-style: none;
      display: flex;
      flex-grow: 1;

      a
      {
        color: black;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        &:hover
        {
          border-bottom: 2px solid #000;
        }


      }
    }


  }


}

/* #endregion header */


/* #region main */
#hero
{
  background-color: aqua;
  height: 580px;

  h1
  {
    padding: 4rem 0 2rem 0;
    font-size: 3.5rem;
    font-weight: 800;
  }

  p
  {
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }


  .cta
  {
    div
    {
      padding: 2rem 0;
    }
  }


}

#plans
{



  .col-4
  {
    .card-body
    {
      display: flex;
      flex-direction: column;
    }
  }

  .col-12
  {
    .card-body
    {
      display: flex;
      justify-content: space-between;
    }
  }




  .card
  {
    height: 100%;
    border: 1px solid #ccc;

    .card-header
    {
      text-align: center;
      padding: 0.75rem;
      border-bottom: 1px solid #ccc;
    }

    .card-body
    {
      padding: 1rem;
      gap: 2rem;

      h3
      {
        font-size: 1.5rem;
      }




      .features,
      .checklist
      {
        list-style: none;
        line-height: 2rem;

        li
        {
          display: flex;
          align-items: start;
          gap: 0.5rem;
        }

      }


      .cta
      {
        .btn
        {
          display: block;
          text-align: center;
          margin-bottom: 2rem;
        }
      }



    }

  }
}

#plans,
#operations,
#teams
{
  h2
  {
    margin: 4rem 0;
    padding: 4rem 0;
    font-size: 2rem;
  }

}

/* #endregion main */


/* #region footer */
footer
{
  margin-top: 3rem;
  padding: 2rem 0;
  background-color: black;
  color: white;
}