/* #region debug */

.debug
{
  *
  {
    border: 1px dashed red;
  }


  main
  {
    background-color: lightblue;
    min-height: 1200px;
  }

  footer
  {
    background-color: lightgreen;
  }

  section>.container
  {
    background-color: green;
    min-height: 300px;

  }

  .container-sm
  {
    background-color: lightyellow;
    min-height: 300px;

  }

  .col-60
  {
    background-color: lightpink;
    height: 300px;
  }

  .col-40
  {
    height: 300px;
    background-color: lightcoral;
  }

  .col-lg
  {
    min-height: 300px;
    background-color: red;
  }

  .col
  {
    background-color: green;
  }

}

/* #endregion debug */


/* #region Common */

:root
{
  --dis-bg-primary: #3161e0;
  --dis-bg-primary-light: #7289da;
  --dis-bg-primary-lighter: #8ea1e1;
  --dis-bg-dark: #23272a;
  --dis-bg-ligher: #ffffff;
  --dis-bg-light: #f6f6f6;

}


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body
{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section
{
  padding: 1rem 0
}

img
{
  max-width: 100%;
}

/* Utilities */

/* layout */
.container
{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.container-sm
{
  max-width: 700px;
  width: 65%;
  margin: 0 auto;
}


.d-flex
{
  display: flex;
}

.col-60
{
  width: 60%;
}

.col-40
{
  width: 40%;
}

/* buttons */
.btn
{
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.btn-light
{
  background-color: var(--dis-bg-light);
  color: var(--dis-bg-dark);
}

.btn-dark
{
  background-color: var(--dis-bg-dark);
  color: var(--dis-bg-ligher);
}

.btn-sm
{
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

.btn-lg
{
  padding: 1.25rem 2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
}

/* Spacings */

.ml-6
{
  margin-left: 6rem;
}

.mr-6
{
  margin-right: 6rem;
}


/* Typography */
.text-center
{
  text-align: center;
}

.text-end
{
  text-align: end;
}


/* #endregion Common   */


/* #region Header */
header
{
  padding: 1rem 0;
  background-color: var(--dis-bg-primary);


  nav
  {
    align-items: center;



    .logo,
    .actions
    {
      flex-grow: 1;
    }

    .logo__img
    {
      vertical-align: middle;
    }

    .actions
    {
      text-align: right;
    }

    .menu
    {
      flex-grow: 2;
      justify-content: center;
      gap: 1rem;
      list-style: none;


      a
      {
        text-decoration: none;
        color: var(--dis-bg-ligher);
      }

    }

  }




}

/* #endregion Header */


/* #region Main */

main
{

  .jumbotron
  {
    background-image: url('./img/jumbo.png');
    color: var(--dis-bg-ligher);
    background-size: cover;
    padding: 2rem 0;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1
    {
      font-size: 3.5rem;
      font-weight: 600;

    }

    p
    {
      font-size: 1.25rem;
      line-height: 2rem;
      margin: 3rem 0;
    }

    .cta
    {
      display: flex;
      gap: 2rem;
      justify-content: center;
    }
  }


  section
  {
    padding: 6rem 0;

    h2
    {
      font-size: 3rem;
      margin: 2rem 0;
    }

    p
    {
      font-size: 1.2rem;
      line-height: 1.75rem;
    }
  }

  .video_calls
  {
    .text>p
    {
      padding: 0 5rem;

    }
  }

}


/* #endregion Main */


/* #region Footer */
footer
{
  padding: 2rem 0;

  .top
  {

    .col-lg
    {
      flex-grow: 2;
    }

    .col
    {
      flex-grow: 1;
    }

  }

  .bottom
  {
    border-top: 1px solid black;
    padding: 1rem 0;
    justify-content: space-between;
  }

}

/* #endregion Footer */