*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body
{
  background-color: red;
  color: white;
}


.p-4
{
  padding: 4rem;
}

h1
{
  font-size: 1.5rem;
}

.btn
{
  margin-top: 3rem;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.btn span
{
  display: none;
}

.container
{
  width: 95%;
  margin: auto;
  max-width: 400px;
}



/* Mobile first */
@media screen and (min-width: 480px)
{
  body
  {
    background-color: blue;
    color: white;
  }

  .p-sm-5
  {
    padding: 5rem;
  }

  h1
  {
    font-size: 1.8rem;
  }

  .btn span
  {
    display: inline;
  }

  .container
  {
    width: 90%;
    margin: auto;
    max-width: 480px;
  }
}


@media screen and (min-width: 768px)
{
  body
  {
    background-color: rgb(57, 255, 80);
    color: white;
  }

  h1
  {
    font-size: 2.1rem;
  }

  .container
  {
    width: 80%;
    margin: auto;
    max-width: 720px;
  }
}


@media screen and (min-width: 1024px)
{
  body
  {
    background-color: rgb(255, 154, 2);
    color: white;
  }

  h1
  {
    font-size: 3rem;
  }

  .container
  {
    width: 80%;
    margin: auto;
    max-width: 980px;
  }
}